// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rocketblack: #0A0619;
$rocketblackalpha: rgba(10, 6, 25, 0.5);
$rocketgrey: #2B2536;
$rocketgreylight: #4A3C54;
$rocketgreylightalpha: rgba(74, 60, 84, 0.5);
$rocketpurple: #430D6C;
$rocketpurplealpha: rgba(67, 13, 108, 0.5);
$rocketpurplelight: #B14ED2;
$rocketwhite: #fef9ff;
$rocketbutton: #523CF0;
$rocketbutton_hover: #826DFE;
$rocketdarkblue: #211662;
