// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$rocketblack: #0A0619;
$rocketgrey: #2B2536;
$rocketgreylight: #4A3C54;
$rocketpurple: #430D6C;
$rocketpurplelight: #B14ED2;
$rocketwhite: #fef9ff;
$rocketbutton: #523CF0;
$rocketbutton_hover: #826DFE;
$rocketdarkblue: #211662;
