#form-artwork {
  display: flex;
  justify-content: center;
  text-align: center;
}

.step {
  display: none;
}
.step.stepactive{
  display: block;
}

.slidepage {

}

.uploadpage {

}

.sharepage {

}
