// Style for User Details

.card-creator-details {
  padding: 1rem;
  width: 25vw;
  height: 100%;
  position: sticky;
  top: 10px;
  border-radius: 16px;
  background: $rocketblackalpha;
  box-shadow: -1rem 0 2rem $rocketblackalpha;
  backdrop-filter: blur(5px);
  min-height: 550px;
  max-height: 550px;
  min-width: 320px;
  display: flex;
  align-content: space-around;
  justify-content: space-between;
  flex-direction: column;
}

.creator-boxes {
  width: 100%;
  min-width: fit-content;
  padding: 0rem 1rem 0rem 1rem;
}

.user-activities-list {
  list-style-type: none;
  padding: 1rem;
}

.tags li {
  font-style: normal;
  font-weight: 700;
  font-size: .5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  text-align: center;
  position: relative;
  margin-bottom: 0.2rem;
  &:hover {
    background: linear-gradient(90deg,#523CF0,#826DFE);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
  }
}

#social-media {
  padding: 1rem;
  text-align: center;
  ul a {
    text-decoration: none;
    color: $rocketwhite;
  }
  ul i {
    font-size: x-large;
  }
}
// Style for Challenge Details

.cards-challenge {
  z-index: 0;
}

.card-challenge-details {
  padding: 2rem;
  margin-right: 15px;
  border-radius: 16px;
  background: $rocketblackalpha;
  box-shadow: -1rem 0 2rem $rocketblackalpha;
  backdrop-filter: blur(5px);
  z-index: 0;
  min-width: 840px;
  min-height: 550px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    h1, h2 {
      padding-bottom: 15px;
  }
  h2 {
    font-size: 35px;
  }
    p {
      font-size: 22px;
      margin-bottom: 0.8rem;
    }
}

.details-tag {
  background-color: #4A3C54;
    border-radius: 25px;
    padding: 5px 15px;
    text-align: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    color: white;
    font-weight: bold;
    transition: 0.1s;
    letter-spacing: 1px;
}

.div-tag {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: space-around;
}

progress {
  -webkit-appearance: none;
  padding: 0 5% 5% 5%;
  width: 100%;
  &::-webkit-progress-value {
    animation: load 3s normal forwards;
    box-shadow: 0 10px 40px -10px #fff;
    border-radius: 100px;
    background: #fff;
    height: 30px;
    width: 0;
  }
  &::-webkit-progress-bar {
    background: rgba(255,255,255,0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 40px;
    width: 100%;
  }
}

// Style for Artwork List

.card-artworks-list {
  min-width: 1175px;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    background: transparent
  }
}

.card-artwork {
  width: 500px;
  height: 100%;
  min-width: 300px;
  padding: 1.5rem;
  border-radius: 16px;
  background: $rocketblackalpha;
  box-shadow: -1rem 0 1rem $rocketblackalpha;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  transition: .2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  overflow-x: scroll visible;
  position: relative;
  // &:hover {
  //   transform: translateY(-1rem);
  //   width: 500px;
  //   height: 100%;
  // }
  // &:hover #artwork img {
  //   height: 100%;
  //   border: rgba(255,255,255, 0.5) groove 3px;
  // }
  // &:not(:first-child) {
  //   margin-left: -130px;
  // }
}

// .card-artwork:focus-within~.card-artwork, .card-artwork:hover~.card-artwork {
//   transform: translateX(130px);
// }

#artwork {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  img {
    width: 100%;
    height: 0px;
    border-radius: 10px;
  }
}

.card-header {
  margin-bottom: auto;
  padding: 0rem 0rem 0.5rem 0rem;
  background: transparent;
  p {
      font-size: 14px;
      margin: 0 0 0.5rem;
      color: #7a7a8c;
  }
  h2 {
      font-size: 20px;
      margin: .25rem 0 auto;
      text-decoration: none;
      color: inherit;
      border: 0;
      display: inline-block;
      cursor: pointer;
  }
  h2:hover {
      background: linear-gradient(90deg,#523CF0,#826DFE);
      text-shadow: none;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
  }
}

.card-author {
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    position: relative;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.half-circle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 48px;
    fill: none;
    stroke: $rocketpurplelight;
    stroke-width: 8;
    stroke-linecap: round;
    pointer-events: none;
}

.div-button-add {
  display: flex;
  justify-content: center;
  margin: 35px 0px;
}

#buttonaddartwork {
  background-color: $rocketbutton;
  font-size: 30px;
  border-radius: 50px;
  border-style: none;
  color: $rocketwhite;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: 20px;
  transition: 0.2s;
  box-shadow: 1px 0 90px rgba($color: $rocketbutton_hover, $alpha: 0.1);
  &:hover {
    background-color: $rocketbutton_hover;
  }
}

#buttonshareartwork {
  background-color: $rocketbutton;
  font-size: 30px;
  border-radius: 50px;
  border-style: none;
  color: $rocketwhite;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  transition: 0.2s;
  box-shadow: 1px 0 90px rgba($color: $rocketbutton_hover, $alpha: 0.1);
  &:hover {
    background-color: $rocketbutton_hover;
  }
}

.contrib{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 30px 0;
  flex-grow: 1;
  cursor: pointer;
}

.contrib .card-index{
  position: relative;
  width: 320px;
  height: 500px;
  background: $rocketblackalpha;
  border-radius: 20px;
  overflow: hidden;
  border: transparent;
  transition: 0.85s;
  margin-bottom: 16px;
}

.card-index-selected{
  background: $rocketpurplelight !important;

}

.contrib .card-index:hover{
  transform: scale(1.08);
}

.contrib .card-index .imgBx{
  width: 100%;
  height: 220px;
  transition: 0.7s;
}


.contrib .card-index .imgBx img{
  width: 100%;
  max-width: 100%;
  max-height: 237px;
  min-height: 237px;
  object-fit: cover;
}

.contrib .card-index .contentBx{
  bottom: 0;
  height: 210px;
  text-align: center;
  // transition: 1s;
  z-index: 10;
  text-align: left;
  padding: 25px;
  opacity: 0.7;
}

.contrib .card-index .contentBx h2{
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  margin: 0;
  font-size: 20px;
  margin-bottom: 2px;
  opacity: 1;
  padding: 0px;
}

.contrib .card-index .contentBx .size, .container .card-index .contentBx .color {
  justify-content: center;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  padding-top: 2px;
}


.contrib .card-index .contentBx .size h3, .container .card-index .contentBx .color h3{
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: bold;
  opacity: 0.7;
}

#showArtwork {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 30px 0;
  img {
    height: 55vh;
  }
}

.artworks-input {
  display: none;
}
.artworks-input + label {
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50rem;
  padding: 0.5rem 0.7rem;
  background-color: #ECEAFF;
  color: $rocketdarkblue;
  border: 1px solid $rocketdarkblue;
  margin-left: 25%;
  margin-bottom: 0.4rem;
}

.artworks-input:checked + label {
  background-color: $rocketdarkblue;
  color: white;
}
.progress-text {
  text-align: center;
}

.progress-text-end {
  color:black;
  text-align: center;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.div-open-title {
  display: flex;
  justify-content: center;
}

.open-title {
  font-size: 35px;
}
