#profil {
  display: flex;
  justify-content: center;
  width: 100%;
}
#profil-dash {
  width: 1125px;
  display: flex;
  justify-content: center;
  height: 472px;
}

#art-cha-dash {
   width: 1125px;
   margin: auto;
   a {
     font-weight: bold;
    font-size: 20px;
   }
}
#container-art-cha-dash {
  padding-top: 0px !important;
}

.tab-pane.fade.show.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.tab-pane.fade {
  display: none;
}
// #myartworks {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }
// #mychallenges {
//   display: grid;
//   grid-template-columns: 1fr 1fr;
// }
