#profil {
  display: flex;
  justify-content: center;
  width: 100%;
}
#profil-dash {
  width: 1125px;
  display: flex;
  justify-content: center;
  height: 472px;
}

#art-cha-dash {
   width: 1125px;
   margin: auto;
   a {
     font-weight: bold;
    font-size: 20px;
   }
}
#container-art-cha-dash {
  padding-top: 0px !important;
}

#myTabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
