#profil {
  display: flex;
  justify-content: center;
  width: 100%;
}
#profil-dash {
  width: 1125px;
  display: flex;
  justify-content: center;
  height: 472px;
}

#art-cha-dash {
   width: 1125px;
   margin: auto;
}

#myTabContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
