#avatar-username-user {
  border-radius: 20px;
  width: 400px;
  height: 440px;
  margin-block: auto;
  padding: 15px;
  backdrop-filter: blur(5px);
  background: rgba(10, 6, 25, 0.5);
  box-shadow: -1rem 0 2rem rgb(10, 6, 25 / 50%);
  transition: 1s;
  z-index: 0;
  &:hover {
    box-shadow: 1px 0 60px rgba($color: $rocketbutton_hover, $alpha: 0.4);
  }
}
#avatar-user {
  display: flex;
}
#links-description-user {
  height: 440px;
  width: 770px;
  border-radius: 20px;
  margin-block: auto;
  margin-left: 23px;
  padding: 15px;
  backdrop-filter: blur(5px);
  background: rgba(10, 6, 25, 0.5);
  box-shadow: -1rem 0 2rem rgb(10, 6, 25 / 50%);
  text-align: left;
  transition: 1s;
  z-index: 0;
  &:hover {
    box-shadow: 1px 0 60px rgba($color: $rocketbutton_hover, $alpha: 0.4);
  }
}
#description-user p{
  font-size: 18px;
}
#links-user {
  display: flex;
  justify-content: center;
}

#links-user-left {
  margin-left: 23px;
  margin-right: 23px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}
#links-user-right {
  margin-left: 23px;
  margin-right: 23px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}

#space-midle-div {
  width: 60px;
}
