#avatar-username-user {
  border-radius: 20px;
  padding: 15px;
  backdrop-filter: blur(5px);
  background: rgba(10, 6, 25, 0.5);
  box-shadow: -1rem 0 2rem rgb(10, 6, 25 / 50%);
  transition: 1s;
  z-index: 0;
  height: 440px;
  &:hover {
    box-shadow: 1px 0 60px rgba($color: $rocketbutton_hover, $alpha: 0.4);
  }
}
.avatar-user #output{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

#fake-input{
  background-color: transparent;
  border: transparent;
  text-align: center;
  width: fit-content;
  height: fit-content;
  opacity: 0;
  bottom: 126px;
  left: 79px;
  font-size: 35px;
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  &:hover{
    opacity: 1;
  }
}

#fake-update{
  background-color: #4A3C54;
  border-radius: 25px;
  padding: 5px 15px;
  text-align: center;
  width: fit-content;
  height: fit-content;
  color: white;
  border: none;
  position: relative;
  left: 68px;
  margin-top: 8px;
}


#user-details {
  padding-left: 0px;
  text-align: center;
  margin-top: 30px;
}
.-label {
  visibility: hidden;
}

#input-user-pic{
  visibility: hidden;
  height: 0.1px;
  width: 0.1px;
}

#links-description-user {
  height: 440px;
  width: 770px;
  border-radius: 20px;
  padding: 15px;
  backdrop-filter: blur(5px);
  background: rgba(10, 6, 25, 0.5);
  box-shadow: -1rem 0 2rem rgb(10, 6, 25 / 50%);
  text-align: left;
  transition: 1s;
  z-index: 0;
  &:hover {
    box-shadow: 1px 0 60px rgba($color: $rocketbutton_hover, $alpha: 0.4);
  }
}
#description-user p{
  font-size: 18px;
}
#links-user {
  display: flex;
  justify-content: center;
}

#links-user-left {
  margin-left: 23px;
  margin-right: 23px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}
#links-user-right {
  margin-left: 23px;
  margin-right: 23px;
  width: 50%;
  margin-bottom: 15px;
  margin-top: 15px;
}

.content-wrapper{
  padding-top: 111px;
}
