
<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">👉💦👌</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">☝️💦🍑</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">👅🦶👳</div>
    <div class="ticker__item">🧑🍭🎅</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">👨‍👨‍👦🍆💁</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">🍆💦👌</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">👅🖖🍑</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
  </div>
</div>

<div class="base-line">
<p>Terms • Contact us • Made with ❤️ at Le Wagon</p>
</div>
