<div class="wrapper-main">
  <div class="fixed-item-left">
    <h3>discover</h3>
  <div>

<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
    <div class="ticker__item">💦😁🎉</div>
    <div class="ticker__item">💧🤑🚀</div>
    <div class="ticker__item">🎉✨🚀</div>
    <div class="ticker__item">☠️🌈🍕</div>
    <div class="ticker__item">❤️‍🔥🏝🍔</div>
    <div class="ticker__item">👽🖖🛸</div>
    <div class="ticker__item">🎨🧩👅</div>
  </div>
</div>

  <div class="fixed-item-right">
    <h3>footer info</h3>
  <div>
</div>
