<% total = @challenge.end_date - @challenge.start_date %>
<% progression = Date.today - @challenge.start_date %>
<% time_left = @challenge.end_date - Date.today %>
<% if @challenge.end_date < Date.today %>
  <% value = 100 %>
<% else %>
  <% value = ((progression/total)*100).round %>
<% end %>
<div>
  <% if @challenge.end_date < Date.today %>
    <p>Submission Closed</p>
  <% else %>
    <% if time_left.to_i == 0 %>
      <p><strong>Last day to submit</strong></p>
    <% else %>
      <p><%= time_left.to_i %> days left</p>
    <% end %>
  <% end %>
  <progress max="100" value="<%= value %>"> <%= value %> </progress>
</div>
