<% if @challenge.user.website_url != nil %>
  <li><i class="fas fa-globe"></i></li>
<% end %>
<% if @challenge.user.facebook_url != nil %>
  <li><i class="fab fa-youtube"></i></li>
<% end %>
<% if @challenge.user.twitter_url != nil %>
  <li><i class="fab fa-twitter"></i></li>
<% end %>
<% if @challenge.user.instagram_url != nil %>
  <li><i class="fab fa-instagram"></i></li>
<% end %>
<% if @challenge.user.spotify_url != nil %>
  <li><i class="fab fa-spotify"></i></li>
<% end %>
<% if @challenge.user.youtube_url != nil %>
  <li><i class="fab fa-youtube"></i></li>
<% end %>
<% if @challenge.user.dribbble_url != nil %>
  <li><i class="fab fa-dribbble"></i></li>
<% end %>
<% if @challenge.user.artstation_url != nil %>
  <li><i class="fab fa-artstation"></i></li>
<% end %>
<% if @challenge.user.behance_url != nil %>
  <li><i class="fab fa-behance"></i></li>
<% end %>
