<div class="background">
<video autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/dnh5m7rqh/video/upload/v1629992591/rocketly_content/rocketly-video_bfqijk.mp4" type="video/mp4">
</video>
</div>

<div class="d-flex new-box">
  <div class="main-content">
    <h1>WELCOME TO THE FUTURE</h1>
    <h2>Launch and answer challenges to level-up your fans' engagement</h2>
    <a id="button-home" href="/challenges/new">Start today</a>
  </div>
</div>
