<div class="background">
<video autoplay muted loop id="myVideo">
  <source src="https://res.cloudinary.com/dnh5m7rqh/video/upload/v1629992591/rocketly_content/rocketly-video_bfqijk.mp4" type="video/mp4">
</video>
</div>
