<% @artworks.each do |artwork| %>
  <%= link_to challenge_artwork_path(artwork.challenge, artwork) do %>
    <div class="card-product">
      <div>
        <% if artwork.files.attached? %>
          <%= cl_image_tag artwork.files.first.key %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= artwork.title.upcase %></p>
      </div>
    </div>
  <% end %>
<% end %>
