<% @artworks.each do |artwork| %>
    <div class="card-product">
  <%= link_to challenge_path(artwork.challenge) do %>
      <div>
        <% if artwork.files.attached? %>
          <%= cl_image_tag artwork.files.first.key %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= artwork.title.upcase %></p>
      </div>
  <% end %>
    </div>
<% end %>
