<h2>My Challenges page</h2>

<% @challenges.each do |challenge| %>
  <div class="card-product">
        <div>
          <% if challenge.photo.attached? %>
            <%= cl_image_tag challenge.photo.key %>
          <% end %>
        </div>
          <strong><%= challenge.name %></strong>
          <%= challenge.description %>
        <%= link_to "Go to challenges", challenge_path(challenge) %>
  </div>
<% end %>
