<h2>My Challenges page</h2>

<div>
  <% @challenges.each do |challenge| %>
 <div class="dash-card">
    <strong><%= challenge.name %></strong>
    <%= challenge.description %>
    <%= link_to "Go to challenges", challenge_path(challenge) %>
  </div>
  <% end %>
</div>
