<% @challenges.each do |challenge| %>
<%# <div> %>
    <div class="card-product" style="text-decoration:none;">
  <%= link_to challenge_path(challenge) do %>
      <div>
        <% if challenge.photo.attached? %>
          <%= cl_image_tag challenge.photo.key %>
        <% end %>
      </div>
      <div class="card-product-infos">
        <p><%= challenge.name.upcase %></p>
      </div>
  <% end %>
    </div>
<%# </div> %>
<% end %>
