.artwork-detail-modal {
  .modal-dialog {
    margin: unset;
    display: flex;
    justify-content: flex-end;
    max-width: unset !important;
  }
  .modal-content {
    max-width: 700px;
    height: 100vh;
    background-color: rgba(10, 6, 25, 0.8);
  }

  .close{
    color: white;
    font-weight: 50;
    margin: 0px;
    padding: 0px;
  }

  .modal-header{
    border: none;
  }

  img {
    vertical-align: middle;
    border-style: none;
    border-radius: 25px;
    margin: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .modal-title {
    margin-bottom: 10px;
    line-height: 1.5;
    text-align: center;
    font-size: 30px;
  }

  .modal-body {
    text-align: center;
    margin-left: 85px;
    margin-right: 85px;
    background-color: #4A3C54;
    border-radius: 25px;
    flex: none;
    margin-top: 20px;
  }

  .info-modal{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .info-modal img{
    margin-top: 10px;
  }
}
