body {
  width: 100%;
  height: 100vh;
  background: $rocketpurple url('background-test.png') no-repeat;
  background-size: 500% 500%;
  position: relative;
  animation: change 30s ease-in-out infinite;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg {
  width: 100%;
  height: 100vh;
  opacity: 0.7;
}

@-webkit-keyframes change {
  0% {
    background-position:0% 26%;
  }
  25% {
    background-position:28% 26%;
  }
  50% {
    background-position:100% 75%;
  }
  75% {
    background-position:42% 56%;
  }
  100% {
    background-position:0% 26%;
  }
}
@-moz-keyframes change {
  0% {
    background-position:0% 26%;
  }
  25% {
    background-position:28% 26%;
  }
  50% {
    background-position:100% 75%;
  }
  75% {
    background-position:42% 56%;
  }
  100% {
    background-position:0% 26%;
  }
}
@keyframes change {
  0% {
    background-position:0% 26%;
  }
  25% {
    background-position:28% 26%;
  }
  50% {
    background-position:100% 75%;
  }
  75% {
    background-position:42% 56%;
  }
  100% {
    background-position:0% 26%;
  }
}
