.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.5s background-color ease;
}

#button-challenges {
  position: fixed;
  left: 8px;
  top: 110px;
  border-radius: 30px;
  background-color: $rocketbutton;
  padding: 0 20px;
  // margin-right: 15px;
  max-width: 60px;
  width: 60px;
  height: 60px;
  transition: max-width 0.7s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    // padding: 10px 20px;
    max-width: 200px;
    width: auto;
    &:after{
      // background-color: $rocketbutton_hover;
      transition: all 0.7s ease;
      content: "Create a challenge";
      // width: fit-content;
      text-decoration: none;
      margin-left: 10px;
      transform-origin: top left;
    }
  }

  a {
    text-decoration: none;
    color: $rocketwhite;

  }
}

.navbar-lewagon-white {
  background: rgba(0,0,0,0.25);
  backdrop-filter: blur(5px);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#button-create {
  border-radius: 20px;
  border: none;
  background-color: $rocketbutton;
  color: $rocketwhite;
  padding: 10px 20px;
  margin-right: 15px;
  &:hover{
    background-color: $rocketbutton_hover;
  }
}

#new-button-create {
  border-radius: 20px;
  border: none;
  background-color: $rocketbutton;
  color: $rocketwhite;
  padding: 10px 20px;
  &:hover{
    background-color: $rocketbutton_hover;
  }
}

.dropdown-menu {
  background-color: $rocketgreylight;
  border-radius: 10px;
  margin-top: 10px;
}

.dropdown-item {
  color: $rocketwhite;
}

#nav-link-id {
  color: $rocketwhite;
}

#rocketly-logo {
  width: 70px;
  fill: $rocketwhite;
  display: block;
  margin-top: 10px;
  margin-bottom: -13px;
  margin-left: 5px;
}

#profile-user{
  cursor: pointer;
  &:hover{
    opacity: 60%;
  }
}

#disable-challenge {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 1;
  &:hover{
    opacity: 0.65;
  }
}

#new-disable-challenge {
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px 20px;
  opacity: 1;
  &:hover{
    opacity: 0.65;
  }
}


.navbar-content-left {
  display: flex;
  align-items: center;
}
