body.swal2-toast-shown .swal2-container.swal2-top-end, body.swal2-toast-shown .swal2-container.swal2-top-right {
  bottom: 0 !important;
  width: 100% !important;
}

.swal2-container {
  background-size: 40% !important;
}
